
:root {
    --menu-margin: calc(var(--calculated-vw) * 3) 0 calc(var(--calculated-vw) * 1) 0;
    --menu-font: sans-serif;
    --menu-letter-spacing: calc(var(--calculated-vw) * -.05);
    --menu-border-width: calc(var(--calculated-vw) * .08);
    --menu-side-font-size: calc(var(--calculated-vw) * 1.5);
    --menu-side-width: calc(var(--calculated-vw) * 7.5);
    --menu-side-first-width: calc(var(--calculated-vw) * 6);
    --menu-side-first-margin: auto auto calc(var(--calculated-vw) * .75) auto;
    --menu-side-first-padding: calc(var(--calculated-vw) * .3) 0;
    --menu-side-first-border: var(--menu-border-width) solid white;
    --menu-grey: #555;
}

.default-theme {
    position: absolute;
    top: calc(var(--calculated-v-top));
    left: calc(var(--calculated-v-left));
    width: calc(var(--calculated-vw) * 100);
    height: calc(var(--calculated-vh) * 100);
    background: linear-gradient(
        rgba(17, 17, 17, 0.97) 8%,
        rgba(44, 83, 100, 0.6) 38% 50%,
        rgba(32, 58, 67, 0.85) 69%,
        rgba(15, 32, 39, 0.9) 95%
    );
    -webkit-backdrop-filter: blur(calc(var(--calculated-vw) * .5));
    backdrop-filter: blur(calc(var(--calculated-vw) * .5));
}

.default-theme div[name="pda-menu"] {
    margin: var(--menu-margin);
    font-family: var(--menu-font);
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
}

.default-theme div[name="pda-menu"] ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: calc(var(--calculated-vw) * .8);
    color: white;
}

.default-theme div[name="pda-menu"] ul li.left {
    display: block;
    width: var(--menu-side-width);
    font-size: var(--menu-side-font-size);
    color: var(--menu-grey);
    letter-spacing: var(--menu-letter-spacing);
}

.default-theme div[name="pda-menu"] ul li.left :first-child {
    width: var(--menu-side-first-width);
    margin: var(--menu-side-first-margin);
    padding: var(--menu-side-first-padding);
    border: var(--menu-side-first-border);
    border-radius: calc(var(--calculated-vw) * 2) calc(var(--calculated-vw) * .5) calc(var(--calculated-vw) * .5) calc(var(--calculated-vw) * .5);
    background-color: var(--menu-grey);
    color: white;
}

.default-theme div[name="pda-menu"] ul li.center {
    display: block;
    width: calc(var(--calculated-vw) * 11);
    letter-spacing: var(--menu-letter-spacing);
    font-size: calc(var(--calculated-vw) * 2);
    text-align: center;
}

.default-theme div[name="pda-menu"] ul li.center :first-child {
    margin-top: calc(var(--calculated-vw) * .15);
}

.default-theme div[name="pda-menu"] ul li.center :last-child {
    margin-top: calc(var(--calculated-vw) * .1);
}

.default-theme div[name="pda-menu"] ul li.center :last-child span {
    display: inline-block;
    width: calc(var(--calculated-vw) * .5);
    height: calc(var(--calculated-vw) * .5);
    margin: 0 calc(var(--calculated-vw) * .5) calc(var(--calculated-vw) * .06) calc(var(--calculated-vw) * .5);
    border: var(--menu-border-width) solid var(--menu-grey);;
    border-radius: calc(var(--calculated-vw) * 1);
    background-color: var(--menu-grey);;
}

.default-theme div[name="pda-menu"] ul li.center :last-child span.current {
    display: inline-block;
    width: calc(var(--calculated-vw) * .65);
    height: calc(var(--calculated-vw) * .65);
    margin-bottom: 0;
    border: var(--menu-border-width) solid white;
    border-radius: calc(var(--calculated-vw) * 1);
    background-color: white;
}

.default-theme div[name="pda-menu"] ul li.right {
    display: block;
    width: var(--menu-side-width);
    font-size: var(--menu-side-font-size);
    color: var(--menu-grey);;
    letter-spacing: var(--menu-letter-spacing);
}

.default-theme div[name="pda-menu"] ul li.right :first-child {
    width: var(--menu-side-first-width);
    margin: var(--menu-side-first-margin);
    padding: var(--menu-side-first-padding);
    border: var(--menu-side-first-border);
    border-radius: calc(var(--calculated-vw) * .5) calc(var(--calculated-vw) * 2) calc(var(--calculated-vw) * .5) calc(var(--calculated-vw) * .5);
    background-color: var(--menu-grey);;
    color: white;
}