body {
    /* remove margins and scroll bars */
    margin: 0;
    overflow: hidden;

    /* style text */
    text-align: center;
    font-size: 12px;
    font-family: Sans-Serif;

    /* color text */
    color: #444;
}

h1 {
    /* position the heading */
    position: absolute;
    width: 100%;

    /* make sure that the heading is drawn on top */
    z-index: 1;
    color: #ccc;
}

#scene-container {
    /* tell our scene container to take up the full page */
    position: absolute;
    width: 100%;
    height: 100%;

    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-color: #5D76A9;
}

#leftPanel {
    position: absolute;
    top: 45px;
    z-index: 1;
}

#leftPanel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#leftPanel li {
    text-align: left;
    margin: 5px 0 0 0;  
}

#msg {
    height: 19px;
    width: auto;
    padding: 0 10px 0 10px;
    color: #fff;
    background-color: #111;
}

#manual {
    position: absolute;
    left: 81px;
    top: 1px;
    height: 19px;
    width: auto;
    padding: 0 10px 0 10px;
    color: #fff;
    background-color: #111;
    display: none;
}

.control-inactive button {
    color: #888;
}